<header>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand h1">
      {{ title }}
    </span>
  </nav>
</header>
<main class="container-fluid" id="content">
  <div class="row">
    <section id="nav" class="col-2 bg-dark">
      <p class="display-6 text-light">
        <small>MENU</small>
      </p>

      <P>
        <a [routerLink]="['/products']" class="btn btn-secondary">Produtos</a>
      </P>

      <P>
        <a [routerLink]="['/users']" class="btn btn-secondary">Usuários</a>
      </P>
    </section>

    <section id="renderer" class="col-10">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
